@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100&family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Tourney:wght@100&family=Zen+Tokyo+Zoo&display=swap');

header{height: 100px; background-color: lightblue; }
#enlaces{width: 100%; height: 10px; text-align:left; font-size: 15px;font-family: monserrat; margin-inline: 5px;}
#enlaces ul{list-style-type: none;margin: 0px; padding-top: 15px;  }
#enlaces ul li{display:inline-block; width: 20%;}
/* .colorweb{text-transform:uppercase; font-family: monserrat;} */
a{color: white; text-decoration: none; font-family: 'Cabin', sans-serif;}

h1{
    /* font-family: 'Zen Tokyo Zoo', cursive; */
    font-family: 'Tourney', cursive;
    font-size: 100px;
    
}

.flotar_izq{float:left;}
.flotar_der{float: right;}

.icono_1{box-sizing: border-box; width: 72px; height: 56px; margin-bottom: 5px; text-align: center; padding: 5px;}
.icono_2 {box-sizing: border-box;  padding-left: 200%;}
img{width: 350px; height: 450px; border-radius: 100%; border-color: dimgrey 2px; margin-right: 20%;}

body{
    background-image: url("https://fondosmil.com/fondo/23242.jpg");
    color: white;
    font-family: 'Cabin', sans-serif;
    margin-left: 5%;
    padding-top: 0%;

}
.intro{
    width:30%;
    height: 500px;
    font-size: 19px;
    margin-left: 5.5%;
}
.lt{
    font-style:normal;
}

.intro{
    border-color: white solid;
}
